@import 'variables';
@import 'mixins';

body {
  font-family: $font-family;
  font-size: $font-size;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;

  .profile-img img {
    width: 100%;
    height: auto;
  }

  .profile-info {
    padding: 20px;

    h2 {
      margin: 0;
      color: $primary-color;
    }

    p {
      color: $secondary-color;
      margin: 10px 0;
    }

    .btn-primary {
      @include buttonBlue($primary-color);
        margin-top: 20px;
        width: 100%;
        font-size: larger;
    }
  }
}